/*  Josh's Custom CSS Reset  https://www.joshwcomeau.com/css/custom-css-reset/*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family:
		system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
#root,
#__next {
	isolation: isolate;
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family:
		source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body {
	height: 100%;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	line-height: 1.5;
	color: #121212;
}
textarea,
input,
button {
	font-size: 1rem;
	font-family: inherit;
	border: none;
	border-radius: 8px;
	padding: 0.5rem 0.75rem;
	box-shadow:
		0 0px 1px hsla(0, 0%, 0%, 0.2),
		0 1px 2px hsla(0, 0%, 0%, 0.2);
	background-color: white;
	line-height: 1.5;
	margin: 0;
}
button {
	color: #3992ff;
	font-weight: 500;
}

textarea:hover,
input:hover,
button:hover {
	box-shadow:
		0 0px 1px hsla(0, 0%, 0%, 0.6),
		0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
	box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
	transform: translateY(1px);
}

#root {
	width: 100%;
}

#error-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.nav-bar {
	height: 48px;
	padding-left: 25vw;
	padding-right: 25vw;
	background-color: whitesmoke;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.favicon {
	width: 48px;
	height: 48px;
	background-color: orange;
}

.nav-menu {
	height: 48px;
	background-color: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-menu ul {
	display: flex;
	justify-content: center;
	gap: 3em;
	list-style: none;
	text-decoration: none;
	padding: 0 1em;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero {
	width: 100vw;
	height: 524px;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3em;
}

.cta {
	display: flex;
	gap: 2em;
}

.card-grid {
	width: 50vw;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	column-gap: 1em;
	row-gap: 1em;
}

.product-card {
	padding: 1em;
	border: solid grey 1px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.product-image {
	height: 250px;
	border-radius: 4px;
	background-color: grey;
}

.qty-input {
	width: 100%;
	display: flex;
}

.qty-input button {
	width: 2em;
	flex-grow: 0;
}

.qty-input input {
	width: 50%;
	flex-grow: 1;
}
